<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
  <ul class="slides">
    <li class="placeholder" ></li>
    <li  class="placeholder" ></li>
    <li  class="placeholder" ></li>
  </ul>
</div>