{% include 'header.twig' %}




<div class="center">
	
	<img src="assets/img/centered-paragraph.png" style="margin-top: 50px;margin-bottom: 40px;">
	<div class="clear"></div>

	
</div>







{% include 'footer.twig' %}