<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>conexion</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="assets/css/main.css">

    </head>
    <body >
    
    <div class="container" id="main" >
    
    <form action="" accept-charset="utf-8" method="post" class="form-horizontal">
			<fieldset>
					 
					 <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
           <button type="submit" class="btn btn-primary">Envoyer</button>
                                           
      	</fieldset>
    	</form>
    	
    	</div>
    </body>
</html>